@{
    ViewData["Title"] = "Add Bowler";
}

@model Mission13.Models.Bowler

<h1 class="display-4">Add a Bowler</h1>

<form method="post">
    <div class="form__div">
        <label class="form__label" asp-for="BowlerFirstName">First Name:</label>
        <input class="form__input" placeholder=" " asp-for="BowlerFirstName" />
    </div>
    <div class="form__div">
        <label class="form__label" asp-for="BowlerMiddleInit">Middle Initial:</label>
        <input class="form__input" placeholder=" " asp-for="BowlerMiddleInit" maxlength="1"/>
    </div>
    <div class="form__div">
        <label class="form__label" asp-for="BowlerLastName">Last Name:</label>
        <input class="form__input" placeholder=" " asp-for="BowlerLastName" />
    </div>
    <div class="form__div">
        <label class="form__label" asp-for="BowlerAddress">Address:</label>
        <input class="form__input" placeholder=" " asp-for="BowlerAddress" />
    </div>
    <div class="form__div">
        <label class="form__label" asp-for="BowlerCity">City:</label>
        <input class="form__input" placeholder=" " asp-for="BowlerCity" />
    </div>
    <div class="form__div">
        <label class="form__label" asp-for="BowlerState">State:</label>
        <input class="form__input" placeholder=" " asp-for="BowlerState" />
    </div>
    <div class="form__div">
        <label class="form__label" asp-for="BowlerZip">Zip:</label>
        <input class="form__input" placeholder=" " asp-for="BowlerZip" />
    </div>
    <div class="form__div">
        <label class="form__label" asp-for="BowlerPhoneNumber">Phone Number:</label>
        <input class="form__input" placeholder=" " asp-for="BowlerPhoneNumber" />
    </div>
    <div class="form__div">
        <label class="form__label" asp-for="TeamID">Team ID:</label>
        <input class="form__input" placeholder=" " asp-for="TeamID" />
    </div>

    <button type="submit">Submit</button>

</form>
