@{
    ViewData["Title"] = "Delete Bowler";
}

@model Bowler

<h1 class="display-4">Are you sure you want to delete?</h1>

<form method="post" asp-controller="Home" asp-action="DeleteConfirmation">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="BowlerID" />
</form>